# Likes Report

By: Chris Cowles

9/15/25

This is data taken from my personal Instagram account. Instagram was the one who collected all of the data, and they collected this data to monetize and tailor ads to me. I am the "creator" of the data in the sense that this is based off of my activity on the Instagram app The data is very reliable because it is the complete record of my Instagram account, coming straight from Instagram. I do not believe that there is anything unreliable about the data, other than the possible conclusions that could be drawn from it.

In [51]:
import pandas as pd
import json as js

Importing modules. Pandas is needed for DataFrame and json is needed for reading json files

In [52]:
path = r'/Users/chris/Desktop/docs/fall 2025/data/instagram @freebrisk_/your_instagram_activity/likes/liked_posts.json'

In [53]:
with open(path) as op:
    data =js.load(op)

Importing the data.

In [54]:
data.keys()

dict_keys(['likes_media_likes'])

Extracting keys from the dictionary

In [55]:
data['likes_media_likes'][0]

{'title': 'watchingnewyork',
 'string_list_data': [{'href': 'https://www.instagram.com/p/DNxymaYwLfW/',
   'value': 'ð\x9f\x91\x8d',
   'timestamp': 1756143746}]}

Looking for the timestamp value.

In [56]:
timestamp = [x['string_list_data'][0]['timestamp'] for x in data['likes_media_likes']]

Assigning the timestamp a variable.

In [57]:
timestamp[0:10]

[1756143746,
 1756137591,
 1756137574,
 1756137548,
 1756137471,
 1756087865,
 1756080920,
 1756062309,
 1756062236,
 1756062084]

Checking to see timestamp's output

In [58]:
accounts = [x['title'] for x in data['likes_media_likes'] ]

Assigning the accounts section a variable

In [59]:
accounts[0:10]

['watchingnewyork',
 'bluntqoute',
 'buddygirlcat',
 'aaron.uh',
 'ovvenmusic',
 '_.katieann',
 'kamilxabbas',
 'gbjug5',
 'equippedmemes',
 'icantstopjuggin']

Checking to see accounts's output

In [60]:
likes_df = pd.DataFrame({'accounts': accounts, 'timestamp': timestamp})

Making a DataFrame with the variables

In [61]:
likes_df

             accounts   timestamp
0     watchingnewyork  1756143746
1          bluntqoute  1756137591
2        buddygirlcat  1756137574
3            aaron.uh  1756137548
4          ovvenmusic  1756137471
...               ...         ...
3476   therealsimba._  1724690387
3477     mossgoddesss  1724690317
3478    artgrowthclub  1724686970
3479     lindsaylacko  1724612742
3480        zephyrpub  1724612438

[3481 rows x 2 columns]

In [62]:
like_count = likes_df.groupby('accounts').count()

Using groupby and count methods to further sort the dataframe

In [63]:
like_count

                  timestamp
accounts
019skye                   1
0w2w                      1
1080phoodvines            1
17briann                  1
190_gdot3                 1
...                     ...
zerovalidatio___          1
zhaoyangsmai              1
zkario7                   1
zspongeb0bb               1
zuccy123456               6

[1863 rows x 1 columns]

In [64]:
like_count.sort_values('timestamp', ascending = False)

                  timestamp
accounts
azure4001                80
owen_kung                67
bens.gym_videos          46
bodaddyharris            43
4ntobz                   30
...                     ...
hood.grimes               1
homusonn                  1
homesformypoems           1
homage2headshots          1
019skye                   1

[1863 rows x 1 columns]

Making it so the top liked accounts show first.

# Hypothesis
## I tend to comment on posts from the same accounts that I frequently "like".
Theoretical Element - I believe that I mostly comment on my friend's posts (with whom I frequently "like" their posts)

Statisical Element -  Comparing the counts of likes and comments per account to see if high like counts correspond with high comment counts.

In [65]:
path2 = r'/Users/chris/Desktop/docs/fall 2025/data/instagram @freebrisk_/your_instagram_activity/comments/post_comments_1.json'

In [66]:
with open(path2) as j:
    data2 =js.load(j)

This time I'm using the "Post Comments" json to analyze. This is the json that has all of my post comments, so I need it to test my hypothesis.

In [67]:
df_comments = pd.json_normalize(data2)

Converting into a tidy DataFrame

In [68]:
df_comments = df_comments[[
    "string_map_data.Comment.value",
    "string_map_data.Media Owner.value",
    "string_map_data.Time.timestamp"
]]

Only saving the relevant columns to tidy the data further

In [69]:
df_comments.columns = ["comment", "media_owner", "timestamp"]

Renaming for clarity

In [70]:
df_comments.head(10)

,comment,media_owner,timestamp
0,I just listened to continuum by John Mayer can...,sam.rubin,1756058141
1,I wanted to see the sergeant in the army,koi.mat2,1756003193
2,He sounds like heâs about to cry,yoo1940.1,1754871946
3,Harry rosenberg jigsaw puzzle,harryrosenberg,1754767697
4,I used to listen to lil peep when I was younger,koi.mat2,1754758225
5,@brown_lotus995 âjust go to prison broâ,landpalestine,1754678741
6,Now this is productive activism,landpalestine,1754678686
7,Cheating,leonard_you_rascal,1754580773
8,If you like gorillas this much you need to qui...,pettyhumanemotions,1754528884
9,Oh yeah!!!,hannahmpetras,1754486964

## Interpretation of post_comments_1.json DataFrame
The DataFrame represents comments I made on Instagram posts. Each row corresponds to one comment, with information about the post’s owner and the time of posting.  

### Tidy Principles:  
I tried to make the DataFrame as tidy as possible, with 3 columns to simplify the convoluted JSON file.

### Usefulness for Hypothesis: 
This data can help test my hypothesis because it shows me which accounts I am commenting on. The data could further prove to be useful if I were to tie in the liked_posts json into it too.

### Challenges: 
Further decoding the timestamps and making sure the data is even cleaner, finding ways to tie the data together to paint a bigger picture.

# Conclusion

The accounts between my DataFrame of the liked_posts.json and the post_comments.json are actually very different. I seem to like a lot of meme / influencer accounts. I wonder if this is because they tend to post way more than people I know in real life so I end up hitting "like" on more of their posts.

I believe there are definitely limitations on what the data collect, but for the hypothesis I proposed, it is entirely possible to find out. I just need to hone in my skill with using DataFrame and data science fundamentals in the first place. Possible next steps would  be to make a DataFrame consisting of both the JSON files in this report.